<!DOCTYPE html>
<div id="cal1">
  <label >number 1</label>
  <input id="number1" > 
  <ngbd-buttons-checkbox></ngbd-buttons-checkbox>  
</div>
<p>
  calculator-component works!
</p>
<div class="container">
  <div class="row">
      <div class="col-sm" id="calcatordisplay">{{ display }}</div>
      <div class="col-sm" id="numberOne">{{ numberOne }}</div>
      <div class="col-sm" id="numberTwo">{{ numberTwo }}</div>
  </div>
</div>

<table class="table table-sm">
  <thead>

  </thead>
  <tbody>
    <tr>
      <td><button (click)="enterNumber('7')" >7</button></td>
      <td><button (click)="enterNumber('8')">8</button></td>
      <td><button (click)="enterNumber('9')">9</button></td>
      <td><button (click)="operate('/')">Divide</button></td>                 
    </tr>
    <tr>
        <td><button (click)="enterNumber('4')">4</button></td>
        <td><button (click)="enterNumber('5')">5</button></td>
        <td><button (click)="enterNumber('7')">6</button></td>
        <td><button (click)="operate('X')">X</button></td> 
    </tr>
    <tr>
        <td><button (click)="enterNumber('1')">1</button></td>
        <td><button (click)="enterNumber('2')">2</button></td>
        <td><button (click)="enterNumber('3')">3</button></td>
        <td><button (click)="operate('-')">-</button></td> 
    </tr>
    <tr>
        <td><button (click)="enterNumber('0')">0</button></td>
        <td><button (click)="enterNumber('.')">.</button></td>
        <td><button (click)="getresult()">=</button></td>
        <td><button (click)="operate('+')">+</button></td> 
    </tr>
  </tbody>

</table>