<!DOCTYPE html>
<div class="container">
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-9" id="calcatordisplay">{{ display }}</div>
        <div class="col-sm-2"></div>        
    </div>  
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-9">
        <table class="table table-sm">
            <tbody>
          
              <tr>
                <td>
                    <table class="table table-sm">
                        <thead>
                      
                        </thead>
                        <tbody>
                          <tr>
                            <td><button class="btn btn-primary" (click)="enterNumber('7')" >7</button></td>
                            <td><button class="btn btn-primary" (click)="enterNumber('8')">8</button></td>
                            <td><button class="btn btn-primary" (click)="enterNumber('9')">9</button></td>
                            <td><button class="btn btn-secondary" (click)="operate('/')">Divide</button></td>                 
                          </tr>
                          <tr>
                              <td><button class="btn btn-primary" (click)="enterNumber('4')">4</button></td>
                              <td><button class="btn btn-primary" (click)="enterNumber('5')">5</button></td>
                              <td><button class="btn btn-primary" (click)="enterNumber('6')">6</button></td>
                              <td><button class="btn btn-secondary" (click)="operate('*')">X</button></td> 
                          </tr>
                          <tr>
                              <td><button class="btn btn-primary" (click)="enterNumber('1')">1</button></td>
                              <td><button class="btn btn-primary" (click)="enterNumber('2')">2</button></td>
                              <td><button class="btn btn-primary" (click)="enterNumber('3')">3</button></td>
                              <td><button class="btn btn-secondary" (click)="operate('-')">-</button></td> 
                          </tr>
                          <tr>
                              <td><button class="btn btn-primary" (click)="enterNumber('0')">0</button></td>
                              <td><button class="btn btn-primary" (click)="enterNumber('.')">.</button></td>
                              <td><button class="btn btn-secondary" (click)="operate('=')">=</button></td>
                              <td><button class="btn btn-secondary" (click)="operate('+')">+</button></td> 
                          </tr>
                          <tr>
                              <td><button class="btn btn-secondary" (click)="clear()">Clear</button></td>
                          </tr>
                        </tbody>
                      
                      </table>
                </td>
                <td>
                  <li *ngFor="let n of numbers">
                    {{ n }}
                  </li>
                </td>
              </tr>
          
          </tbody>
          </table>
    </div>
    <div class="col-sm-2"></div>        
  </div>
</div>