@import "../../styles";
@import "../../styles-variables";

#calcatordisplay {
  margin-top: 10px;
  border: 1px solid #efefef;
}

.main-table {
  margin: 0 auto;
  width: 200px;
}

table td {
  border: 0;
}