@import "../../styles";
@import "../../styles-variables";

#calcatordisplay {
  margin-top: 10px;
  border: 1px solid #efefef;
  height: 70px;
}

.main-table {
  margin: 0 auto;
  width: 200px;
}

table td {
  border: 0;
}

.keypad {
  width: 400px;
}

.keypd-btn {
  width: 90px;
}

.backspace {
  font-size: 0.5em;
}

.stack {
  width: 100px;
}
